/* CONEDOR */
.games-section {
    padding: 60px 0;
    text-align: center;
}

.section-title {
    font-size: 45px;
    color: #f4d7a1;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

/* TARJETAS*/
.games-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    justify-items: center;
}

/*  TARJETA */
.card-container {
    perspective: 1000px;
}

.flip-card {
    width: 330px;
    height: 460px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    border-radius: 16px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/*  LADOS DE LA TARJETA  */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    background: #1a1410;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;

    color: #f2e6d5;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

/* === TEXTO DEL FRENTE === */
.card-style h3 {
    font-size: 22px;
    margin-bottom: 12px;
    color: #ffddad;
    text-shadow: 0 0 5px rgba(255, 200, 140, 0.3);
}

.card-info {
    color: #e3d4bd;
    font-style: italic;
    margin-bottom: 10px;
}

.card-desc {
    font-size: 15px;
    line-height: 1.45;
}

/*  REVERSO (IMAGEN )  */
.flip-card-back {
    transform: rotateY(180deg);
    padding: 0;
    border: 4px solid rgba(255, 255, 255, 0.15);
}

.flip-card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  IMAGEN EN EL FRENTE */
.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}
